body{
  background-color: #fff8e7;
}
section{
  max-width: 1350px;
  margin: 0 auto;
  padding-top: 5rem;
}
.navbar{
  background-color: #c3b091;
}
.nav-item:hover{
  background-color: #9c8155;
}
.nav-item a:hover{
  background-color: #ffffff;
  font-weight: bold;
}
.social-icon{
  padding: 10px;
  width: 5rem;
}
.social-icon:hover{
  color: #204dae;
}
.foto_profile_div{
  padding-top: 20px;
  padding-bottom: 20px;
}
.foto_profile{
  width: 30%;
  border-radius: 100%;
}
.section-title h2{
  position: relative;
  padding-bottom: 20px;
}
.section-title h2::after{
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #34b7a7;
  bottom: 0;
  left: calc(50% - 25px);
}

.education-area{
  margin: 0 5rem;
  border-left: 2px solid #ccc;
  padding: 0 20px 0 30px;
}
.education-area div{
  padding: 10px 25px;
  position: relative;
}
.education-area div::before{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 5px solid black;
  position: absolute;
  top: 16px;
  left: -40px;
}
/* .education-area div::after{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #ddd transparent transparent;
  border-width: 8px;
  position: absolute; 
  left: ;
} */
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.bar-skill {
  width: 100%; /* Full width */
  background-color: #d4d4d4; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.python {width: 85%; background-color: #054a82;} /* Blue */
.html {width: 90%; background-color: #204dae;} /* Blue */
.js {width: 80%; background-color: #4563aa;} /* Red */
.canva {width: 90%; background-color: #7c99dc;} /* Dark Grey */


/* soft skill bars */
.bar-softskill {
  width: 100%; /* Full width */
  background-color: #d4d4d4; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.ps {width: 95%; background-color: #8e5555;} /* Blue */
.team {width: 90%; background-color: #986060;} /* Blue */
.leader {width: 85%; background-color: #b78686;} /* Red */
.nego {width: 90%; background-color: #de9797;} /* Dark Grey */


/* Style the footer */
footer {
  background-color: #c3b091;
  padding: 10px;
  text-align: center;
  color: rgb(9, 3, 3);
}

.skill-s p{
  margin-bottom: 0;
}